<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    Hi {{name | safe}} <br>
    <br>
    I'm Zhong Yi Yan, I appreciate that you have taken the time to message me!<br>
    <br>
    This email is sent by a bot, so do not reply to this email. <br>
    I will respond you as soon as possible. <br>
    <br>
    If you wish to contact me again, please write to the following email:
    lucayan0506@gmail.com. <br>
    Or contact me on my <a href="https://zhong-yi-yan.com/#contact-section">Portfolio</a><br>
    <br>
    Sincerely, <br>
    <br>
    Zhong Yi
</body>
</html>